* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E6E6E6;
    font-family: 'Roboto', sans-serif;
}

.content{
    width: 1400px;
    margin: auto;
}

.search-content{
    display: flex;
    padding: 30px 10px 0;
}

.search-content form{
    margin: 0px 20px;
}

 .search input {
     width: 220px;
     height: 35px;
     border: white;
 }

 .search button {
     width: 35px;
     height: 35px;
     color: white;
     background-color: #4C8DCB;
     border: none;
     border-radius: 5px;
 }

 .search button:hover {
     background-color: #EF810F;
     cursor: pointer;
 }

.post {
     display: flex;
     list-style: none;
     background-color: white;
     margin: 50px 20px;
     border-radius: 20px;
     padding: 20px 20px;
     padding-left: 80px;
 }

 .post img {
     border-radius: 50%;
     padding: 10px 20px;
 }

 .post img:hover {
     opacity: 0.5;
 }

 .user_name {
     font-size: 30px;
     font-weight: 900;
     color: black;
 }



 .koube {
     font-size: 20px;
     color: #EF810F;
     font-weight: 500;
     margin-top: 10px;
 }

 .newline {
     margin: 5px 0;
 }

 .newline label {
     font-size: 15px;
     font-weight: 700;
 }

 .newline span{
    font-size: 15px;
    word-wrap: break-word;
    white-space: pre-line;
 }

 .start {
     margin-top: 20px;
 }

 .start label {
     font-size: 15px;
     font-weight: 700;
 }

 .start span{
    font-size: 15px;
    word-wrap: break-word;
    white-space: pre-line;
 }

 .end {
     margin-bottom: 20px;
 }

 .end label {
     font-size: 15px;
     font-weight: 700;
 }

 .end span{
    font-size:15px;
    word-wrap: break-word;
    white-space: pre-line;
 }

.btn1 {
     margin-left: 600px;
     margin-bottom: 50px;
 }

 .btn1 a {
     font-size: 20px;
     background-color: #4C8DCB;
     color: white;
     padding: 10px 20px;
     border-radius: 5px;
     text-decoration: none;
 }

 .btn1 a:hover {
     background-color: #EF810F;
 }

 .home {
    margin-top: 30px;
 }

.home a{
    font-size: 20px;
    padding: 10px 20px;
    color: white;
    background-color: #4C8DCB;
    text-decoration: none;
    margin: 30px 30px;
    border-radius: 10px;
}
 
.home a:hover{
    background-color: #EF810F;
}