* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    min-height: 100vh;
    background-color: #E6E6E6;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* カードエリアの設定 */
.card {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    width: 500px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background-color: white;
    backdrop-filter: blur(10px);
    overflow: hidden;
}

.card .content {
    position: absolute;
    padding: 20px;

}



h2 {
    font-size: 30px;
    margin-bottom: 50px;
    color: black;
}

.card .content .text {
    margin-top: 10px;
    font-size: 1.8rem;
    color: black;
    margin-bottom: 40px;
}

.card .user-box {
    margin: 20px 0;
    width: 350px;
    margin: auto;
    padding: 10px 10px;
    font-size: 25px;

}

.card .user-box input {
    width: 350px;
    height: 40px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid black;
}

.card .user-box label {
    font-size: 18px;
    color: black;
    font-weight: 600;
    float: left;
    pointer-events: none;
    transition: .5s;
}


img {
    border-radius: 50px;
}


.guidance {
    margin-top: 50px;
    margin-left: 300px;
}

.guidance2 {
    margin-left: 205px;
}

a {
    color: #4C8DCB;
    text-decoration: none;
}

a:hover {
    color: #EF810F;
    text-decoration: underline;
}






button {
    margin-top: 50px;
    padding: 10px 25px;
    background-color: #4C8DCB;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {

    background-color: #EF810F;
}

.error {
    color: red;
    font-size: 14px;
}