 /* Googleフォントのインポート */
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Noto+Sans+JP:wght@100&family=Roboto&display=swap');

/* Adobeフォントのインポート */
@import url("https://use.typekit.net/rpu8qqz.css");

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E6E6E6;
    font-family: 'Roboto', sans-serif;
    width: 1400px;
    margin: auto;
}


 .header {
     display: flex;
     padding: 20px 20px;
     margin-bottom: 50px;
     background-color: white;
     border-radius: 10px;
 }

 .header-nav {
     display: flex;
 }

 .header-nav h1 {
     font-family: reross-quadratic, sans-serif;
     font-size: 60px;
     font-weight: 900;
     margin-left: 10px;
     color: #EF810F;
 }


 .header ul {
     display: flex;
     margin-left: 260px;
 }

 .header li {
     list-style: none;
     padding-top: 30px;
     padding-bottom: 20px;
     padding-left: 70px;
     font-size: 20px;
     font-weight: 600;
 }

 .header a {
     color: #4C8DCB;
     text-decoration: none;
 }

 .header a:hover {
     color: #EF810F;
     text-decoration: underline;

 }



















 .open {
     cursor: pointer;
     font-size: 30px;
     background-color: #4C8DCB;
     color: white;
     padding: 10px 20px;
     border-radius: 10px;
     margin-left: 20px;
 }

 .open:hover {
     background-color: #EF810F;

 }

 #pop-up {
     display: none;
 }

 .overlay {
     display: none;
 }

 #pop-up:checked+.overlay {
     display: block;
     position: fixed;
     width: 100%;
     height: 100vh;
     top: 0;
     left: 0;
     z-index: 9999;
     background: rgba(0, 0, 0, 0.6);
 }

 .window {
     position: fixed;
     top: 50%;
     left: 50%;
     width: 90vw;
     max-width: 600px;
     padding: 20px;
     height: 450px;
     background-color: #E6E6E6;
     border-radius: 4px;
     align-items: center;
     transform: translate(-50%, -50%);
 }

 .window textarea {
     resize: none;
     width: 550px;
     height: 350px;
     font-size: 20px;
     border: none;
     border-radius: 10px;
 }

 .window button {
     font-size: 20px;
     padding: 10px 15px;
     border: none;
     border-radius: 10px;
     background-color: #4C8DCB;
     color: white;
     margin-top: 20px;
 }

 .window button:hover {
     background-color: #EF810F;
     cursor: pointer;
 }

 .close {
     position: absolute;
     margin-left: 565px;
     color: red;
     cursor: pointer;
     font-size: 40px;
 }

 .content {
     /* width: 800px;
     margin: auto; */
     display: flex;
 }

 .main-content{
     width: 750px;
     margin: 0 auto;
 }

 .post {
     display: flex;
     list-style: none;
     background-color: white;
     margin: 20px 20px;
     border-radius: 20px;
     padding: 10px 10px;
 }

 .post .icon img {
     border-radius: 50%;
     padding: 10px 20px;
 }

 .post .icon img:hover {
     opacity: 0.5;
 }

 .user_name {
     font-size: 25px;
     font-weight: 900;
     color: black;
 }


 .user_number{
    font-size: 25px;
    font-weight: 100;
    color: darkgray;
 }


 .koube {
     font-size: 15px;
     color: #EF810F;
     font-weight: 500;
     margin-top: 10px;
 }

 .newline {
     word-wrap: break-word;
     white-space: pre-line;
     font-size: 20px;
     font-weight: 700;
 }

 .img img {
     width: 500px;
     height: 300px;
     border-radius: 20px;
     margin-bottom: 20px;
 }



 .time a {
     font-size: 20px;
     margin: 0 20px;
 }



 .btn1 {
     margin-left: 430px;
 }

 .btn1 a {
     font-size: 20px;
     background-color: #4C8DCB;
     color: white;
     padding: 10px 20px;
     border-radius: 20px;
     text-decoration: none;
 }

 .btn1 a:hover {

     background-color: #EF810F;
 }

.side-contents {
     width: 400px;
     padding: 20px 20px;
     border-left: 1px solid darkgray;
 }


 .search {
     padding-bottom: 10px;
 }

 .search input {
     width: 220px;
     height: 35px;
     border: white;
 }

 .search button {
     width: 35px;
     height: 35px;
     color: white;
     background-color: #4C8DCB;
     border: none;
     border-radius: 5px;
 }

 .search button:hover {
     background-color: #EF810F;
     cursor: pointer;
 }


 .calendar {
     margin-bottom: 10px;
 }

 .calendar iframe {
     width: 400px;
     height: 350px;
     border-radius: 10px;
 }

 .site-content {
     margin-bottom: 20px;
 }

 .site {
     display: flex;
 }

 .site img {
     margin: 2px 5px;
     width: 190px;
     height: 120px;
     border-radius: 10px;
     background-color: white;
 }

 .site a:hover {
     opacity: 0.3;
     transition-duration: 0.3s;
 }

 .btn_arrow a {
     color: white;
     text-decoration: none;
     padding: 15px 20px;
     background-color: #4C8DCB;
     border-radius: 10px;
 }

 .btn_arrow a:hover {
     background-color: #EF810F;
 }

 .footer {
    background-color: white;
    width: 1400px;
    margin: 50px auto 0;
    height: 100px;
    border-radius: 10px;
    text-align: center;
}

.footer .SNS {
    padding-top: 15px;
}

.footer a {
    font-size: 25px;
    padding: 0 40px;
    color: #4C8DCB;
    text-decoration: none;
}

.footer a:hover {
    color: #EF810F;
}

.footer p {
    padding-top: 15px;
    background-color: white;
    border-radius: 10px;
}
