* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E6E6E6;
}

.content {
    width: 1000px;
    margin: 50px auto;
    text-align: center;
    background-color: white;
    border-radius: 10px;
}

.A {
    margin: 50px 0;
}

.content img {
    margin: 50px 0 10px;
    border-radius: 50%;

}

.content ul {
    border: 1px solid darkgray;
    width: 500px;
    margin: auto;
    border-radius: 20px;
}

.content li {
    list-style: none;
    padding-bottom: 10px;
}